body{
    background-color: #E3E7EB;
}

section{
    padding: 64px;
}


/* 1. HOME PAGE */

.project-section{
    background-color: #F8F8F8 ;
}



/* Intro card */
.intro{
    border-radius: 8px;

    margin: 0 auto;
    padding: 48px;

    background-color: #FEFEFE;
    box-shadow: 0px 0px 64px rgb(215, 215, 215);
}

.intro-main{
    flex: 2;
    margin-right: 48px;
}
        /* left */
/* TITLE AND DES  */
.intro__title{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0px;
}


.intro__des{
    margin: 32px 0px;
    font-size: 18px;
}


/* BTN GROUP */

.btn-group{
    margin: 32px 0;
}

.contact-btn{

   cursor: pointer;
   display: inline-block;
   text-decoration: none;

   color: white;
   background-color: #111727;

   font-size: 18px;
   font-weight: bold;

   border-radius:32px; 
   padding: 16px 32px;
   margin-right: 32px;
}

.contact-btn:hover{
  color: white;
}


.download-btn{
      cursor: pointer;
      font-size: 18px;
      color: black;
}

.download-btn img {
    margin-left: 6px;
}


/* SOCIALS */

.intro__socials{
    margin: 0 auto;
    margin-bottom: 48px;
}

.intro__socials a {
    width: 32px;
    height: 32px;
    padding: 4px 4px;
    margin: 0 8px;

    border-radius: 50vh;
    background-color: black;
    
    text-decoration: none;
}

.fa-brands{
     color: white;
}

        /* right side */

/*  CARD  */
.intro-card{
    overflow: hidden;
    box-shadow: 0px 0px 64px rgb(215, 215, 215);
    width: 400px;
  
    margin: 0 auto;
    border-radius: 12px;
}

.intro-card img{
     width: 100%;
     height: 400px;
     object-fit: cover;
}

.intro-card strong{
    margin-top: 18px;

    font-size: 28px;
    text-align: center;
}

.intro-card p {
    font-size: 20px;
    text-align: center;
    
    margin-top: 4px;
    margin-bottom: 18px;
}



/* My Project Section */
.container.projects h2{
    text-align: center;
    font-weight: bold;
    color: #000000;
}

.card {
    
    cursor: pointer;
    box-shadow: 0px 0px 6px rgb(188, 188, 188);
    border-radius: 12px;
    padding: 16px;
    margin: 0 auto;

    text-decoration: none;
    
}


.card .upper-project > img{
    border-radius: 12px;
    height: 300px;
    object-fit: cover;
    object-position: top;

    margin-bottom: 8px;
}

.card .upper-project > span { /*  title */
    font-weight: bold;
    color: #111727 ;
    
}

.project-duration{
    font-weight: bold;
    font-size: 12px;
    margin: 6px 0 24px 0;
}

.project-des{
    font-size: 14px;
    word-break: break-all;
}

.project-logos{
    margin: 24px 0;
}

.project-logos i{
    margin-right: 16px;
    font-size: 24px;
}

.project-logos img{
    margin-right: 16px;
}


.project-buttons > button{
   position: relative;
   flex: 1;
   background-color: #111727 ;
   font-weight: bold;
   color: white;
   appearance: none;
   border:none;
   border-radius: 8px;
   padding: 4px 8px;

   cursor: pointer;
}

.project-buttons > button:first-child{
    margin-right: 4px;
 }



/* 2. ADD PROJECT PAGE */
.addproject-section h2{
      font-weight: bold;
      text-align: center;
      color: #000000;
}

.addproject-section form{
    width: 600px;
}

.addproject-section .form-label{
    font-size: 18px;
    color: black;
    font-weight: 600;
    text-align: start;
}

.addproject-section form > div  {
    width: 100%;
}

.addproject-section form > label  {
    width: 100%;
}

.addproject-section form input{
    box-shadow: 0px 2px 4px rgb(177, 177, 177);
    cursor: pointer;
}

.addproject-section form textarea{
    resize: none;
    box-shadow: 0px 2px 4px rgb(177, 177, 177);
    cursor: pointer;
}

.add-btn{
    padding: 8px 24px;
    background-color: #111727;
    color: white;
    border-radius: 32px;
    transition: 150ms;
}

.add-btn:hover{
    background-color: #111727;
    color: white;
    transform: scale(1.1);
}

/*  3. FORM PAGE */
.contact-section h2{
    font-weight: bold;
    text-align: center;
    color: #000000;

}

.contact-section form{
  width: 600px;
}

.contact-section .form-label{
  font-size: 18px;
  color: black;
  font-weight: 600;
  text-align: start;
}

.contact-section form > div  {
  width: 100%;
}

.contact-section form > label  {
  width: 100%;
}

.contact-section form input{
  box-shadow: 0px 2px 4px rgb(177, 177, 177);
  cursor: pointer;
}

.contact-section form select{
    box-shadow: 0px 2px 4px rgb(177, 177, 177);
    cursor: pointer;
  }

.contact-section form textarea{
  resize: none;
  box-shadow: 0px 2px 4px rgb(177, 177, 177);
  cursor: pointer;
}

.submit-btn{
  padding: 8px 24px;
  background-color: #111727;
  color: white;
  border-radius: 32px;
  transition: 150ms;
}

.submit-btn:hover{
  background-color: #111727;
  color: white;
  transform: scale(1.1);
}